@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;

  color: white;
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}